@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('bootstrap.css');

body {
  font-family: 'Exo 2', sans-serif;
  color: rgb(26, 24, 24);
  font-weight: 300;
}

a { text-decoration: none; color: rgb(26, 24, 24); font-weight: 500;}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  border-radius: 0.375rem;
}

.shadow {
  box-shadow: 0px 5px 10px -3px rgb(34 60 80 / 20%);
  border: 1px solid #070a8e1c;
  border-radius: 0.375rem
}

.footerContent {
  display: flex;
  justify-content: center;
}
body > main {
  margin: 50px 0;
}


.popupBack {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000047;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
  transition: 0.5s;
}


.form{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background: white;
  padding: 50px 30px;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 0.375rem;
}

.form>.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.formWrapper, .registrationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  max-width: 100%;
  padding: 30px 30px;
  margin: 20px 0;
}

.postTitle {
  font-size: 2rem;
}

.postDate {
  font-size: 0.8rem;
}

.post>.postTitle {
  margin: 20px 0;
}

.postDate {
  margin: 10px 0;
}

.postContent {
  margin: 10px 0;
}

.postUserName {
  font-weight: 700;
}

.post img {
  border: 1px solid #00000017;
  object-fit: contain;
  object-position: center;
}

.post>img {
  margin: 10px 0;
}

.loginButton, .button {
  font-weight: 500;
  cursor: pointer;
}

footer {
  margin: 50px 0;
}
